<javascript> 
</javascript>

<div popover id="modal-author-filter">
  <select name="example">
    <%- @authors.each do |author| %>
      <option value=<%=author%>><%=link_to author, metadatas_path(author_filter: author) %></option>
    <%- end %>
  </select>
</div>
<table>
  <tr>
    <th>forPC</th>
    <th>ブラウザ</th>
    <th>ASIN</th>
    <th>タイトル</th>
    <th>著者 <button popovertarget="modal-author-filter">↓</button></th>
    <th>レーベル</th>
    <th>出版社</th>
    <th>出版日
      <%= link_to "▲", metadatas_path(sort_column: :publication_date, sort_order: :asc), class: "sort-direction" %>
      <%= link_to "▼", metadatas_path(sort_column: :publication_date, sort_order: :desc), class: "sort-direction" %>
    </th>
    <th>購入日
      <%= link_to "▲", metadatas_path(sort_column: :purchase_date, sort_order: :asc), class: "sort-direction" %>
      <%= link_to "▼", metadatas_path(sort_column: :purchase_date, sort_order: :desc), class: "sort-direction" %>
    </th>
    <th>取得元</th>
  </tr>
  <% @metadatas.each do |m| %>
    <tr>
      <td><a href =<%= m[:desktop_url] %>>link</a></td>
      <td><%= link_to "link", m[:web_url] %></td>
      <td><%= m[:asin] %></td>
      <td><%= m[:title] %></td>
      <td><%= m[:author] %></td>
      <td><%= m[:label] %></td>
      <td><%= m[:publisher] %></td>
      <td><%= m[:publication_date] %></td>
      <td><%= m[:purchase_date] %></td>
      <td><%= m[:origin] %></td>
    </tr>
  <% end %>
</table>
